<router>
{name: 'projects'}
</router>

<template>
  <div>
    <div class="container">
      <h1>Projects</h1>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';

@Component({
  components: {},
  layout: 'dashboard',
  })
export default class Projects extends Vue {}
</script>
