<router>
{name: 'sign-up'}
</router>

<template>
  <div>
    <div class="container">
      <div class="flex justify-center items-center h-screen">
        <div style="width: 400px">
          <div class="flex justify-center">
            <h1 class="font-bold text-h0 bg-gradient-main bg-clip-text text-transparent text-center">
              Signup
            </h1>
          </div>
          <div class="flex justify-center">
            <in-auth-oauth2 class="mt-16" />
          </div>
          <div class="flex items-center justify-center">
            <div class="h-2 w-120 bg-gray-20" />
            <p class="text-body-XXS text-gray-30 mx-8 my-16 font-semibold">
              OR
            </p>
            <div class="h-2 w-120 bg-gray-20" />
          </div>
          <in-auth-form-register />
          <p class="text-body-XXS mt-8 font-semibold text-gray-70 text-center">
            Already have an account?
            <nuxt-link class="text-primary" :to="{name: Routes.LOGIN}">
              Login
            </nuxt-link>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import InAuthFormRegister from '~/components/features/auth/forms/register.vue';
import { Routes } from '~/components/shared/constants/routes';
import InAuthOauth2 from '~/components/features/auth/components/oauth2.vue';

@Component({
  components: {
  InAuthOauth2,
  InAuthFormRegister,
  },
  layout: 'auth',
  })
export default class Signup extends Vue {
  Routes = Routes;
}
</script>
