<p>Dear,</p>
<p>You have requested to reset password. Please click link below to reset your password</p>
<p>
    <a href="{{ url }}">Reset password</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
