.c-profile{
  height: rem(48);
  width: rem(48);
  border-radius: 50%;
  background-color: var(--color-gray-30);
  overflow: hidden;

  img{
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  &.has-overlay{
    position: relative;

    &:before{
      content: attr(data-overlay);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(39, 95, 238, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-white);
      text-align: center;
      font-size: rem(12);
      line-height: rem(16);
      font-weight: 800;
      padding: rem(8);
      opacity: 0;
      visibility: hidden;
      @include transition();
    }

    &:hover{
      &:before{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &--square{
    border-radius: rem(4);
  }

  &__initials{
    background-color: var(--color-gray-25);
    font-size: rem(24);
    line-height: 1.2;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: 700;
  }

}
